extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/play/") Play #{title}!

  h2 Rules
  p There are two teams of 2+ players in each.
  p The game is played for several turns. In each turn, a new 
  em cryptographer 
  |is assigned for each team. That player gets to see a
  em secret code 
  
