extends layout

block content
  h1= title
  p Välkommen till to #{title}

  a(href="/play/") Play #{title}!

  h2 Om denna tjänst
  p Med #{title} kan du välja ett tidsintervall då du kan tänka dig
  | åka buss. Tjänsten allokerar då en tid till dig så att bussarna blir
  | fyllda endast till den godkända gränsen.
  
  
  h2 Motivering